<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>1385536285032.png</string>
		<key>intro</key>
		<string>&apos;我的逃亡之旅到底还需要持续多久？即使是最强之风，终有一天也会在瓦罗兰大陆中逝去&apos;-亚索</string>
		<key>name</key>
		<string>疾风剑豪·亚索</string>
		<key>topIndex</key>
		<integer>8</integer>
		<key>jungleIndex</key>
		<integer>7</integer>
		<key>midIndex</key>
		<integer>9</integer>
		<key>adIndex</key>
		<integer>0</integer>
		<key>supIndex</key>
		<integer>6</integer>
		<key>countedBy</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
		<key>partner</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>1381398467886.png</string>
		<key>intro</key>
		<string>金克丝活着就是为了不计后果的四处肆虐，在她身后留下的只有一片混乱与恐慌。她是一名暴躁而残忍的罪犯，她蔑视一切仅仅是因为无聊，她会在她认为最无趣的地方：皮尔特沃夫。</string>
		<key>name</key>
		<string>暴走萝莉·金克丝</string>
		<key>topIndex</key>
		<integer>2</integer>
		<key>jungleIndex</key>
		<integer>2</integer>
		<key>midIndex</key>
		<integer>4</integer>
		<key>adIndex</key>
		<integer>8</integer>
		<key>supIndex</key>
		<integer>2</integer>
		<key>countedBy</key>
		<array>
			<integer>4</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
		<key>partner</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>1376619482925.png</string>
		<key>intro</key>
		<string>卢锡安使用的是拥有传承力量的神圣武器，并成为对付不死族群的卫士。他冷静而强大，面对无尽的恐怖时仍然可以惩罚对手通过其拥有的驱除之火。</string>
		<key>name</key>
		<string>圣枪游侠·卢锡安</string>
		<key>topIndex</key>
		<integer>6</integer>
		<key>jungleIndex</key>
		<integer>4</integer>
		<key>midIndex</key>
		<integer>8</integer>
		<key>adIndex</key>
		<integer>7</integer>
		<key>supIndex</key>
		<integer>5</integer>
		<key>countedBy</key>
		<array>
			<integer>4</integer>
			<integer>3</integer>
		</array>
		<key>partner</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>1371093644361.png</string>
		<key>intro</key>
		<string>&apos;战者，或为荣耀，或为赞颂。然此皆仅为战所存也。&apos;——亚托克斯</string>
		<key>name</key>
		<string>暗裔剑魔·亚托克斯</string>
		<key>topIndex</key>
		<integer>9</integer>
		<key>jungleIndex</key>
		<integer>9</integer>
		<key>midIndex</key>
		<integer>5</integer>
		<key>adIndex</key>
		<integer>0</integer>
		<key>supIndex</key>
		<integer>3</integer>
		<key>countedBy</key>
		<array>
			<integer>6</integer>
			<integer>5</integer>
		</array>
		<key>partner</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>231871561051.png</string>
		<key>intro</key>
		<string>闭上眼睛，让寒冷将你夺去。&apos;——丽桑卓</string>
		<key>name</key>
		<string>冰霜女巫·丽桑卓</string>
		<key>topIndex</key>
		<integer>7</integer>
		<key>jungleIndex</key>
		<integer>0</integer>
		<key>midIndex</key>
		<integer>10</integer>
		<key>adIndex</key>
		<integer>1</integer>
		<key>supIndex</key>
		<integer>6</integer>
		<key>countedBy</key>
		<array>
			<integer>2</integer>
			<integer>3</integer>
		</array>
		<key>partner</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>228242993255.png</string>
		<key>intro</key>
		<string>&apos;即使你没有脊柱，你依然必须站起来。&apos;—扎克</string>
		<key>name</key>
		<string>生化魔人·扎克</string>
		<key>topIndex</key>
		<integer>5</integer>
		<key>jungleIndex</key>
		<integer>7</integer>
		<key>midIndex</key>
		<integer>3</integer>
		<key>adIndex</key>
		<integer>0</integer>
		<key>supIndex</key>
		<integer>7</integer>
		<key>countedBy</key>
		<array>
			<integer>9</integer>
			<integer>8</integer>
			<integer>7</integer>
		</array>
		<key>partner</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>225382419902.png</string>
		<key>intro</key>
		<string>大多数士兵会依赖他们的武器。只有少数人才会真正地相互依赖。——奎因</string>
		<key>name</key>
		<string>德玛西亚之翼·奎因</string>
		<key>topIndex</key>
		<integer>4</integer>
		<key>jungleIndex</key>
		<integer>3</integer>
		<key>midIndex</key>
		<integer>6</integer>
		<key>adIndex</key>
		<integer>9</integer>
		<key>supIndex</key>
		<integer>4</integer>
		<key>countedBy</key>
		<array>
			<integer>4</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
		<key>partner</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>222714396868.png</string>
		<key>intro</key>
		<string>魂锁典狱长的过去鲜为人知，并且大多数细节只存在于童谣和传闻中。它们讲述着一个丧心病狂的狱卒的故事。</string>
		<key>name</key>
		<string>魂锁典狱长·锤石</string>
		<key>topIndex</key>
		<integer>1</integer>
		<key>jungleIndex</key>
		<integer>0</integer>
		<key>midIndex</key>
		<integer>2</integer>
		<key>adIndex</key>
		<integer>5</integer>
		<key>supIndex</key>
		<integer>10</integer>
		<key>countedBy</key>
		<array>
			<integer>4</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
		<key>partner</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>219251317038.png</string>
		<key>intro</key>
		<string>&apos;真遗憾。我有两只拳头，但你的脸上只放得下一只。&apos;-蔚</string>
		<key>name</key>
		<string>皮城执法官·蔚</string>
		<key>topIndex</key>
		<integer>3</integer>
		<key>jungleIndex</key>
		<integer>8</integer>
		<key>midIndex</key>
		<integer>7</integer>
		<key>adIndex</key>
		<integer>0</integer>
		<key>supIndex</key>
		<integer>4</integer>
		<key>countedBy</key>
		<array>
			<integer>4</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
		<key>partner</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>218041566099.png</string>
		<key>intro</key>
		<string>&apos;我即是狂澜，且无法被力挽。&apos;-唤潮鲛姬·娜美。</string>
		<key>name</key>
		<string>唤潮鲛姬·娜美</string>
		<key>topIndex</key>
		<integer>0</integer>
		<key>jungleIndex</key>
		<integer>0</integer>
		<key>midIndex</key>
		<integer>1</integer>
		<key>adIndex</key>
		<integer>2</integer>
		<key>supIndex</key>
		<integer>9</integer>
		<key>countedBy</key>
		<array>
			<integer>4</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
		<key>partner</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
	</dict>
</array>
</plist>
