<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>忍者</key>
	<array>
		<integer>61</integer>
		<string>60</string>
		<integer>22</integer>
		<integer>53</integer>
	</array>
	<key>AD</key>
	<array>
		<integer>15</integer>
		<integer>72</integer>
		<integer>103</integer>
		<integer>48</integer>
		<integer>5</integer>
		<integer>12</integer>
		<integer>37</integer>
		<integer>44</integer>
		<integer>54</integer>
		<integer>63</integer>
		<integer>85</integer>
		<integer>17</integer>
		<integer>90</integer>
		<integer>120</integer>
		<integer>23</integer>
		<integer>30</integer>
		<integer>106</integer>
		<integer>107</integer>
		<integer>112</integer>
	</array>
	<key>ADC</key>
	<array>
		<integer>15</integer>
		<integer>72</integer>
		<integer>103</integer>
		<integer>48</integer>
		<integer>5</integer>
		<integer>12</integer>
		<integer>37</integer>
		<integer>44</integer>
		<integer>54</integer>
		<integer>63</integer>
		<integer>85</integer>
		<integer>17</integer>
		<integer>90</integer>
		<integer>120</integer>
		<integer>23</integer>
		<integer>30</integer>
		<integer>106</integer>
		<integer>107</integer>
		<integer>112</integer>
	</array>
	<key>击飞</key>
	<array>
		<integer>65</integer>
		<integer>4</integer>
		<integer>115</integer>
		<integer>76</integer>
		<integer>73</integer>
		<integer>17</integer>
		<integer>16</integer>
		<integer>6</integer>
		<integer>105</integer>
		<integer>101</integer>
		<integer>46</integer>
		<integer>78</integer>
		<integer>47</integer>
		<integer>26</integer>
		<integer>19</integer>
		<integer>24</integer>
		<integer>55</integer>
		<integer>25</integer>
		<integer>83</integer>
		<integer>113</integer>
		<integer>75</integer>
		<integer>92</integer>
	</array>
	<key>沉默</key>
	<array>
		<integer>111</integer>
		<integer>101</integer>
		<integer>118</integer>
		<integer>85</integer>
		<integer>59</integer>
		<integer>57</integer>
	</array>
	<key>压制</key>
	<array>
		<integer>0</integer>
		<integer>120</integer>
		<integer>17</integer>
		<integer>69</integer>
		<integer>20</integer>
		<integer>53</integer>
		<integer>123</integer>
		<integer>57</integer>
		<integer>49</integer>
	</array>
	<key>射手</key>
	<array>
		<integer>15</integer>
		<integer>72</integer>
		<integer>103</integer>
		<integer>48</integer>
		<integer>5</integer>
		<integer>12</integer>
		<integer>37</integer>
		<integer>44</integer>
		<integer>54</integer>
		<integer>63</integer>
		<integer>85</integer>
		<integer>17</integer>
		<integer>90</integer>
		<integer>120</integer>
		<integer>23</integer>
		<integer>30</integer>
		<integer>106</integer>
		<integer>107</integer>
		<integer>112</integer>
	</array>
	<key>击退</key>
	<array>
		<integer>33</integer>
		<integer>18</integer>
		<integer>115</integer>
		<integer>12</integer>
		<integer>50</integer>
		<integer>9</integer>
		<integer>37</integer>
		<integer>17</integer>
	</array>
	<key>奶</key>
	<array>
		<integer>111</integer>
		<integer>95</integer>
		<integer>88</integer>
		<integer>19</integer>
	</array>
	<key>眩晕</key>
	<array>
		<integer>0</integer>
		<integer>2</integer>
		<integer>8</integer>
		<integer>14</integer>
		<integer>21</integer>
		<integer>27</integer>
		<integer>29</integer>
		<integer>32</integer>
		<integer>40</integer>
		<integer>41</integer>
		<integer>42</integer>
		<integer>43</integer>
		<integer>51</integer>
		<integer>55</integer>
		<integer>58</integer>
		<integer>60</integer>
		<integer>64</integer>
		<integer>65</integer>
		<integer>66</integer>
		<integer>67</integer>
		<integer>70</integer>
		<integer>72</integer>
		<integer>74</integer>
		<integer>77</integer>
		<integer>79</integer>
		<integer>88</integer>
		<integer>95</integer>
		<integer>98</integer>
		<integer>100</integer>
		<integer>105</integer>
		<integer>106</integer>
		<integer>113</integer>
		<integer>115</integer>
		<integer>121</integer>
		<integer>125</integer>
	</array>
	<key>束缚</key>
	<array>
		<integer>114</integer>
		<integer>119</integer>
		<integer>45</integer>
		<integer>80</integer>
		<integer>89</integer>
		<integer>44</integer>
		<integer>43</integer>
		<integer>86</integer>
		<integer>28</integer>
		<integer>52</integer>
	</array>
	<key>恐惧</key>
	<array>
		<integer>36</integer>
		<integer>38</integer>
		<integer>118</integer>
		<integer>81</integer>
		<integer>97</integer>
	</array>
	<key>低胜率</key>
	<array>
		<integer>114</integer>
		<integer>94</integer>
		<integer>91</integer>
		<integer>120</integer>
		<integer>14</integer>
		<integer>3</integer>
		<integer>119</integer>
		<integer>29</integer>
		<integer>96</integer>
		<integer>62</integer>
		<integer>110</integer>
		<integer>6</integer>
		<integer>105</integer>
	</array>
	<key>勾人</key>
	<array>
		<integer>43</integer>
		<integer>84</integer>
		<integer>17</integer>
		<integer>34</integer>
	</array>
	<key>致盲</key>
	<array>
		<string>111</string>
		<string>30</string>
	</array>
	<key>辅助</key>
	<array>
		<integer>0</integer>
		<integer>3</integer>
		<integer>10</integer>
		<integer>14</integer>
		<integer>17</integer>
		<integer>19</integer>
		<integer>24</integer>
		<integer>17</integer>
		<integer>19</integer>
		<integer>24</integer>
		<integer>25</integer>
		<integer>28</integer>
		<integer>38</integer>
		<integer>43</integer>
		<integer>46</integer>
		<integer>58</integer>
		<integer>84</integer>
		<integer>88</integer>
		<integer>89</integer>
		<integer>92</integer>
		<integer>95</integer>
		<integer>111</integer>
		<integer>115</integer>
		<integer>99</integer>
		<integer>100</integer>
		<integer>108</integer>
		<integer>53</integer>
		<integer>83</integer>
		<integer>110</integer>
		<integer>52</integer>
		<integer>74</integer>
		<integer>119</integer>
	</array>
	<key>蛮易信</key>
	<array>
		<integer>66</integer>
		<integer>124</integer>
		<integer>116</integer>
		<integer>121</integer>
		<integer>11</integer>
	</array>
	<key>隐身</key>
	<array>
		<integer>35</integer>
		<integer>45</integer>
		<integer>56</integer>
		<integer>61</integer>
		<integer>72</integer>
		<integer>75</integer>
		<integer>97</integer>
		<integer>103</integer>
		<integer>104</integer>
		<integer>110</integer>
		<integer>119</integer>
	</array>
	<key>全球流</key>
	<array>
		<integer>0</integer>
		<integer>16</integer>
		<integer>39</integer>
		<integer>53</integer>
		<integer>64</integer>
		<integer>81</integer>
		<integer>91</integer>
		<integer>102</integer>
		<integer>113</integer>
		<integer>122</integer>
	</array>
	<key>糊你脸</key>
	<array>
		<integer>46</integer>
		<integer>64</integer>
		<integer>41</integer>
		<integer>58</integer>
		<integer>43</integer>
		<integer>83</integer>
		<integer>121</integer>
		<integer>124</integer>
	</array>
	<key>poke</key>
	<array>
		<integer>44</integer>
		<integer>122</integer>
		<integer>33</integer>
		<integer>7</integer>
		<integer>52</integer>
		<integer>54</integer>
		<integer>25</integer>
	</array>
	<key>德玛西亚</key>
	<array>
		<integer>30</integer>
		<integer>52</integer>
		<integer>78</integer>
		<integer>59</integer>
		<integer>121</integer>
	</array>
	<key>疯狗</key>
	<array>
		<integer>66</integer>
		<integer>124</integer>
		<integer>116</integer>
		<integer>121</integer>
		<integer>11</integer>
	</array>
	<key>上单</key>
	<array>
		<integer>4</integer>
		<integer>6</integer>
		<integer>16</integer>
		<integer>36</integer>
		<integer>45</integer>
		<integer>61</integer>
		<integer>86</integer>
		<integer>101</integer>
		<integer>43</integer>
		<integer>46</integer>
		<integer>33</integer>
		<integer>26</integer>
		<integer>11</integer>
		<integer>50</integer>
		<integer>64</integer>
		<integer>75</integer>
		<integer>78</integer>
		<integer>80</integer>
		<integer>87</integer>
		<integer>105</integer>
		<integer>113</integer>
		<integer>124</integer>
		<integer>9</integer>
		<integer>34</integer>
		<integer>53</integer>
		<integer>59</integer>
		<integer>83</integer>
		<integer>96</integer>
		<integer>110</integer>
		<integer>1</integer>
		<integer>13</integer>
		<integer>32</integer>
		<integer>55</integer>
		<integer>60</integer>
		<integer>91</integer>
		<integer>93</integer>
		<integer>124</integer>
		<integer>27</integer>
		<integer>40</integer>
		<integer>62</integer>
		<integer>66</integer>
		<integer>68</integer>
		<integer>71</integer>
		<integer>79</integer>
	</array>
	<key>收割</key>
	<array>
		<integer>35</integer>
		<integer>102</integer>
		<integer>47</integer>
		<integer>34</integer>
		<integer>7</integer>
		<integer>1</integer>
		<integer>12</integer>
		<integer>55</integer>
	</array>
	<key>支援</key>
	<array>
		<integer>0</integer>
		<integer>16</integer>
		<integer>39</integer>
		<integer>53</integer>
		<integer>64</integer>
		<integer>81</integer>
		<integer>91</integer>
		<integer>102</integer>
		<integer>113</integer>
		<integer>111</integer>
		<integer>122</integer>
	</array>
	<key>钩子</key>
	<array>
		<integer>43</integer>
		<integer>84</integer>
		<integer>17</integer>
		<integer>34</integer>
	</array>
	<key>秀你一脸</key>
	<array>
		<integer>5</integer>
		<integer>7</integer>
		<integer>15</integer>
		<integer>18</integer>
		<integer>21</integer>
		<integer>22</integer>
		<integer>17</integer>
		<integer>26</integer>
		<integer>33</integer>
		<integer>37</integer>
		<integer>40</integer>
		<integer>47</integer>
		<integer>49</integer>
		<integer>55</integer>
		<integer>56</integer>
		<integer>73</integer>
		<integer>82</integer>
		<integer>94</integer>
		<integer>97</integer>
		<integer>98</integer>
		<integer>117</integer>
		<integer>119</integer>
		<integer>122</integer>
	</array>
	<key>中单</key>
	<array>
		<integer>117</integer>
		<integer>118</integer>
		<integer>3</integer>
		<integer>10</integer>
		<integer>25</integer>
		<integer>28</integer>
		<integer>38</integer>
		<integer>89</integer>
		<integer>95</integer>
		<integer>1</integer>
		<integer>13</integer>
		<integer>32</integer>
		<integer>55</integer>
		<integer>60</integer>
		<integer>91</integer>
		<integer>93</integer>
		<integer>114</integer>
		<integer>5</integer>
		<integer>12</integer>
		<integer>44</integer>
		<integer>54</integer>
		<integer>63</integer>
		<integer>120</integer>
		<integer>7</integer>
		<integer>21</integer>
		<integer>31</integer>
		<integer>47</integer>
		<integer>2</integer>
		<integer>29</integer>
		<integer>39</integer>
		<integer>52</integer>
		<integer>74</integer>
		<integer>119</integer>
		<integer>122</integer>
		<integer>125</integer>
		<integer>8</integer>
		<integer>22</integer>
		<integer>26</integer>
		<integer>33</integer>
		<integer>61</integer>
		<integer>86</integer>
		<integer>94</integer>
		<integer>101</integer>
		<integer>102</integer>
		<integer>123</integer>
		<integer>18</integer>
		<integer>42</integer>
		<integer>49</integer>
		<integer>51</integer>
		<integer>56</integer>
		<integer>57</integer>
		<integer>70</integer>
		<integer>76</integer>
		<integer>82</integer>
		<integer>98</integer>
	</array>
	<key>上分</key>
	<array>
		<integer>74</integer>
		<integer>57</integer>
		<integer>111</integer>
		<integer>117</integer>
		<integer>92</integer>
		<integer>49</integer>
		<integer>84</integer>
		<integer>109</integer>
		<integer>98</integer>
		<integer>8</integer>
		<integer>75</integer>
		<integer>37</integer>
		<integer>77</integer>
		<integer>125</integer>
		<integer>95</integer>
		<integer>28</integer>
		<integer>86</integer>
		<integer>113</integer>
		<integer>83</integer>
		<integer>100</integer>
		<integer>79</integer>
		<integer>4</integer>
		<integer>112</integer>
		<integer>116</integer>
		<integer>60</integer>
		<integer>25</integer>
		<integer>20</integer>
		<integer>122</integer>
		<integer>102</integer>
		<integer>121</integer>
	</array>
	<key>打野</key>
	<array>
		<integer>0</integer>
		<integer>11</integer>
		<integer>50</integer>
		<integer>64</integer>
		<integer>78</integer>
		<integer>105</integer>
		<integer>31</integer>
		<integer>47</integer>
		<integer>7</integer>
		<integer>117</integer>
		<integer>46</integer>
		<integer>122</integer>
		<integer>105</integer>
		<integer>68</integer>
		<integer>119</integer>
		<integer>5</integer>
		<integer>118</integer>
		<integer>36</integer>
		<integer>74</integer>
		<integer>98</integer>
		<integer>78</integer>
		<integer>37</integer>
		<integer>21</integer>
		<integer>110</integer>
		<integer>82</integer>
		<integer>17</integer>
		<integer>66</integer>
		<integer>101</integer>
		<integer>109</integer>
		<integer>100</integer>
		<integer>42</integer>
		<integer>7</integer>
		<integer>70</integer>
	</array>
	<key>女神</key>
	<array>
		<integer>31</integer>
		<integer>58</integer>
		<integer>112</integer>
	</array>
	<key>约德尔人</key>
	<array>
		<integer>2</integer>
		<integer>8</integer>
		<integer>12</integer>
		<integer>38</integer>
		<integer>39</integer>
		<integer>71</integer>
		<integer>66</integer>
		<integer>90</integer>
		<integer>100</integer>
		<false/>
		<integer>110</integer>
	</array>
	<key>小学生</key>
	<array>
		<integer>116</integer>
		<integer>11</integer>
		<integer>59</integer>
		<integer>110</integer>
	</array>
	<key>复活</key>
	<array>
		<integer>3</integer>
		<integer>4</integer>
		<integer>62</integer>
		<integer>117</integer>
		<integer>113</integer>
	</array>
	<key>大姨妈</key>
	<array>
		<integer>13</integer>
		<integer>34</integer>
	</array>
	<key>基佬</key>
	<array>
		<integer>3</integer>
		<integer>88</integer>
		<integer>63</integer>
	</array>
	<key>刺客</key>
	<array>
		<integer>56</integer>
		<integer>47</integer>
		<integer>26</integer>
		<integer>31</integer>
		<integer>21</integer>
		<integer>119</integer>
		<integer>7</integer>
		<integer>11</integer>
		<integer>22</integer>
		<integer>35</integer>
		<integer>49</integer>
		<integer>61</integer>
		<integer>66</integer>
		<integer>73</integer>
		<integer>75</integer>
		<integer>78</integer>
		<integer>97</integer>
		<integer>103</integer>
		<integer>104</integer>
		<integer>105</integer>
		<integer>116</integer>
		<integer>119</integer>
		<integer>121</integer>
		<integer>124</integer>
	</array>
	<key>哈哈</key>
	<array>
		<integer>0</integer>
	</array>
	<key>河流之王</key>
	<array>
		<integer>0</integer>
	</array>
	<key>河流</key>
	<array>
		<integer>0</integer>
	</array>
	<key>蛤蟆</key>
	<array>
		<integer>0</integer>
	</array>
	<key>金属</key>
	<array>
		<integer>1</integer>
	</array>
	<key>大师</key>
	<array>
		<integer>1</integer>
	</array>
	<key>小法</key>
	<array>
		<integer>2</integer>
	</array>
	<key>小法师</key>
	<array>
		<integer>2</integer>
	</array>
	<key>维嘉</key>
	<array>
		<integer>2</integer>
	</array>
	<key>时光</key>
	<array>
		<integer>3</integer>
	</array>
	<key>基兰</key>
	<array>
		<integer>3</integer>
	</array>
	<key>老头</key>
	<array>
		<integer>3</integer>
	</array>
	<key>时光老人</key>
	<array>
		<integer>3</integer>
	</array>
	<key>剑魔</key>
	<array>
		<integer>4</integer>
	</array>
	<key>亚托克斯</key>
	<array>
		<integer>4</integer>
	</array>
	<key>暗裔剑魔</key>
	<array>
		<integer>4</integer>
	</array>
	<key>奥巴马</key>
	<array>
		<integer>5</integer>
	</array>
	<key>圣枪</key>
	<array>
		<integer>5</integer>
	</array>
	<key>圣枪游侠</key>
	<array>
		<integer>5</integer>
	</array>
	<key>卢锡安</key>
	<array>
		<integer>5</integer>
	</array>
	<key>扎克</key>
	<array>
		<integer>6</integer>
	</array>
	<key>生化魔人</key>
	<array>
		<integer>6</integer>
	</array>
	<key>魔人</key>
	<array>
		<integer>6</integer>
	</array>
	<key>奶大力</key>
	<array>
		<integer>7</integer>
	</array>
	<key>狂野女猎手</key>
	<array>
		<integer>7</integer>
	</array>
	<key>狂野</key>
	<array>
		<integer>7</integer>
	</array>
	<key>豹女</key>
	<array>
		<integer>7</integer>
	</array>
	<key>猎手</key>
	<array>
		<integer>7</integer>
	</array>
	<key>奈德里</key>
	<array>
		<integer>7</integer>
	</array>
	<key>豹</key>
	<array>
		<integer>7</integer>
	</array>
	<key>豹子</key>
	<array>
		<integer>7</integer>
	</array>
	<key>奈德丽</key>
	<array>
		<integer>7</integer>
	</array>
	<key>大头</key>
	<array>
		<integer>8</integer>
	</array>
	<key>大发明家</key>
	<array>
		<integer>8</integer>
	</array>
	<key>炼金术士</key>
	<array>
		<integer>9</integer>
	</array>
	<key>炼</key>
	<array>
		<integer>9</integer>
	</array>
	<key>炼金</key>
	<array>
		<integer>9</integer>
	</array>
	<key>术士</key>
	<array>
		<integer>9</integer>
	</array>
	<key>辛吉德</key>
	<array>
		<integer>9</integer>
	</array>
	<key>莫甘娜</key>
	<array>
		<integer>10</integer>
	</array>
	<key>蛮王</key>
	<array>
		<integer>11</integer>
	</array>
	<key>蛮子</key>
	<array>
		<integer>11</integer>
	</array>
	<key>蛮</key>
	<array>
		<integer>11</integer>
	</array>
	<key>泰达米尔</key>
	<array>
		<integer>11</integer>
	</array>
	<key>蛮族之王</key>
	<array>
		<integer>11</integer>
	</array>
	<key>五秒真男人</key>
	<array>
		<integer>11</integer>
	</array>
	<key>麦林炮手</key>
	<array>
		<integer>12</integer>
	</array>
	<key>炮</key>
	<array>
		<integer>12</integer>
	</array>
	<key>小炮</key>
	<array>
		<integer>12</integer>
	</array>
	<key>堕落</key>
	<array>
		<integer>10</integer>
	</array>
	<key>堕落天使</key>
	<array>
		<integer>10</integer>
	</array>
	<key>审判天使</key>
	<array>
		<integer>117</integer>
	</array>
	<key>凯尔</key>
	<array>
		<integer>117</integer>
	</array>
	<key>天使</key>
	<array>
		<integer>10</integer>
		<integer>117</integer>
	</array>
	<key>天</key>
	<array>
		<integer>10</integer>
		<integer>117</integer>
	</array>
	<key>吸血鬼</key>
	<array>
		<integer>13</integer>
	</array>
	<key>吸</key>
	<array>
		<integer>13</integer>
	</array>
	<key>鬼</key>
	<array>
		<integer>13</integer>
	</array>
	<key>血</key>
	<array>
		<integer>13</integer>
	</array>
	<key>吸血</key>
	<array>
		<integer>13</integer>
	</array>
	<key>猩红收割者</key>
	<array>
		<integer>13</integer>
	</array>
	<key>猩红</key>
	<array>
		<integer>13</integer>
	</array>
	<key>巴德</key>
	<array>
		<integer>14</integer>
	</array>
	<key>星界</key>
	<array>
		<integer>14</integer>
	</array>
	<key>游神</key>
	<array>
		<integer>14</integer>
	</array>
	<key>星界游神</key>
	<array>
		<integer>14</integer>
	</array>
	<key>复仇之矛</key>
	<array>
		<integer>15</integer>
	</array>
	<key>复仇</key>
	<array>
		<integer>15</integer>
		<integer>74</integer>
	</array>
	<key>卡莉斯塔</key>
	<array>
		<integer>15</integer>
	</array>
	<key>矛</key>
	<array>
		<integer>15</integer>
	</array>
	<key>挖掘机</key>
	<array>
		<integer>16</integer>
	</array>
	<key>挖</key>
	<array>
		<integer>16</integer>
	</array>
	<key>虚空遁地兽</key>
	<array>
		<integer>16</integer>
	</array>
	<key>虚空</key>
	<array>
		<integer>16</integer>
		<integer>25</integer>
		<integer>35</integer>
		<integer>57</integer>
		<integer>94</integer>
		<integer>101</integer>
	</array>
	<key>虚</key>
	<array>
		<integer>16</integer>
		<integer>25</integer>
		<integer>35</integer>
		<integer>57</integer>
		<integer>94</integer>
		<integer>101</integer>
	</array>
	<key>遁地</key>
	<array>
		<integer>16</integer>
	</array>
	<key>挖掘</key>
	<array>
		<integer>16</integer>
	</array>
	<key>雷克赛</key>
	<array>
		<integer>16</integer>
	</array>
	<key>锤石</key>
	<array>
		<integer>17</integer>
	</array>
	<key>锤</key>
	<array>
		<integer>17</integer>
	</array>
	<key>沙皇</key>
	<array>
		<integer>18</integer>
	</array>
	<key>黄鸡</key>
	<array>
		<integer>18</integer>
	</array>
	<key>黄</key>
	<array>
		<integer>18</integer>
	</array>
	<key>脆皮鸡</key>
	<array>
		<integer>18</integer>
	</array>
	<key>沙漠皇帝</key>
	<array>
		<integer>18</integer>
	</array>
	<key>阿兹尔</key>
	<array>
		<integer>18</integer>
	</array>
	<key>阿兹</key>
	<array>
		<integer>18</integer>
	</array>
	<key>娜美</key>
	<array>
		<integer>19</integer>
	</array>
	<key>唤潮</key>
	<array>
		<integer>19</integer>
	</array>
	<key>唤潮鲛姬</key>
	<array>
		<integer>19</integer>
	</array>
	<key>叫鸡</key>
	<array>
		<integer>19</integer>
	</array>
	<key>鲛姬</key>
	<array>
		<integer>19</integer>
	</array>
	<key>蔚</key>
	<array>
		<integer>20</integer>
	</array>
	<key>为</key>
	<array>
		<integer>20</integer>
	</array>
	<key>城管</key>
	<array>
		<integer>20</integer>
	</array>
	<key>薇</key>
	<array>
		<integer>20</integer>
	</array>
	<key>艾克</key>
	<array>
		<integer>21</integer>
	</array>
	<key>时间刺客</key>
	<array>
		<integer>21</integer>
	</array>
	<key>时间</key>
	<array>
		<integer>21</integer>
	</array>
	<key>劫</key>
	<array>
		<integer>22</integer>
	</array>
	<key>影流之主</key>
	<array>
		<integer>22</integer>
	</array>
	<key>影流</key>
	<array>
		<integer>22</integer>
	</array>
	<key>火影</key>
	<array>
		<integer>22</integer>
	</array>
	<key>姿态</key>
	<array>
		<integer>22</integer>
	</array>
	<key>暴走萝莉</key>
	<array>
		<integer>23</integer>
	</array>
	<key>暴走</key>
	<array>
		<integer>23</integer>
	</array>
	<key>萝莉</key>
	<array>
		<integer>23</integer>
	</array>
	<key>金克丝</key>
	<array>
		<integer>23</integer>
	</array>
	<key>金克斯</key>
	<array>
		<integer>23</integer>
	</array>
	<key>金克</key>
	<array>
		<integer>23</integer>
	</array>
	<key>平胸</key>
	<array>
		<integer>23</integer>
	</array>
	<key>布隆</key>
	<array>
		<integer>24</integer>
	</array>
	<key>弗雷尔卓德之心</key>
	<array>
		<integer>24</integer>
	</array>
	<key>弗雷尔卓德</key>
	<array>
		<integer>24</integer>
	</array>
	<key>大眼睛</key>
	<array>
		<integer>25</integer>
	</array>
	<key>虚空之眼</key>
	<array>
		<integer>25</integer>
	</array>
	<key>维克兹</key>
	<array>
		<integer>25</integer>
	</array>
	<key>亚索</key>
	<array>
		<integer>26</integer>
	</array>
	<key>疾风剑豪</key>
	<array>
		<integer>26</integer>
	</array>
	<key>疾风</key>
	<array>
		<integer>26</integer>
	</array>
	<key>剑豪</key>
	<array>
		<integer>26</integer>
	</array>
	<key>剑</key>
	<array>
		<integer>26</integer>
		<integer>40</integer>
		<integer>4</integer>
		<integer>59</integer>
		<integer>116</integer>
	</array>
	<key>纳尔</key>
	<array>
		<integer>27</integer>
	</array>
	<key>迷失之牙</key>
	<array>
		<integer>27</integer>
	</array>
	<key>迷失</key>
	<array>
		<integer>27</integer>
	</array>
	<key>婕拉</key>
	<array>
		<integer>28</integer>
	</array>
	<key>婕</key>
	<array>
		<integer>28</integer>
	</array>
	<key>杰拉</key>
	<array>
		<integer>28</integer>
	</array>
	<key>荆棘</key>
	<array>
		<integer>28</integer>
	</array>
	<key>荆棘之兴</key>
	<array>
		<integer>28</integer>
	</array>
	<key>荆</key>
	<array>
		<integer>28</integer>
	</array>
	<key>元首</key>
	<array>
		<integer>29</integer>
	</array>
	<key>暗黑</key>
	<array>
		<integer>29</integer>
	</array>
	<key>暗黑元首</key>
	<array>
		<integer>29</integer>
	</array>
	<key>辛德拉</key>
	<array>
		<integer>29</integer>
	</array>
	<key>辛德</key>
	<array>
		<integer>29</integer>
	</array>
	<key>辛</key>
	<array>
		<integer>29</integer>
	</array>
	<key>奎因</key>
	<array>
		<integer>30</integer>
	</array>
	<key>亏因</key>
	<array>
		<integer>30</integer>
	</array>
	<key>窥阴</key>
	<array>
		<integer>30</integer>
	</array>
	<key>奎恩</key>
	<array>
		<integer>30</integer>
	</array>
	<key>鸟</key>
	<array>
		<integer>30</integer>
	</array>
	<key>德玛西亚之翼</key>
	<array>
		<integer>30</integer>
	</array>
	<key>鸟人</key>
	<array>
		<integer>30</integer>
	</array>
	<key>皎月女神</key>
	<array>
		<integer>31</integer>
	</array>
	<key>皎月</key>
	<array>
		<integer>31</integer>
	</array>
	<key>校阅</key>
	<array>
		<integer>31</integer>
	</array>
	<key>黛安娜</key>
	<array>
		<integer>31</integer>
	</array>
	<key>戴安娜</key>
	<array>
		<integer>31</integer>
	</array>
	<key>戴</key>
	<array>
		<integer>31</integer>
	</array>
	<key>冰霜女巫</key>
	<array>
		<integer>32</integer>
	</array>
	<key>冰女</key>
	<array>
		<integer>32</integer>
	</array>
	<key>丽桑卓</key>
	<array>
		<integer>32</integer>
	</array>
	<key>李桑桌</key>
	<array>
		<integer>32</integer>
	</array>
	<key>杰斯</key>
	<array>
		<integer>33</integer>
	</array>
	<key>未来守护者</key>
	<array>
		<integer>33</integer>
	</array>
	<key>诺克萨斯之手</key>
	<array>
		<integer>34</integer>
	</array>
	<key>德莱</key>
	<array>
		<integer>34</integer>
	</array>
	<key>诺手</key>
	<array>
		<integer>34</integer>
	</array>
	<key>诺克萨斯</key>
	<array>
		<integer>34</integer>
		<integer>37</integer>
		<integer>82</integer>
		<integer>56</integer>
		<integer>70</integer>
		<integer>86</integer>
		<integer>97</integer>
		<integer>113</integer>
		<integer>119</integer>
		<integer>13</integer>
		<integer>120</integer>
	</array>
	<key>小学生之手</key>
	<array>
		<integer>34</integer>
	</array>
	<key>大姨妈之手</key>
	<array>
		<integer>34</integer>
	</array>
	<key>德莱厄斯</key>
	<array>
		<integer>34</integer>
	</array>
	<key>断头台</key>
	<array>
		<integer>34</integer>
	</array>
	<key>螳螂</key>
	<array>
		<integer>35</integer>
	</array>
	<key>虚空掠夺者</key>
	<array>
		<integer>35</integer>
	</array>
	<key>卡兹克</key>
	<array>
		<integer>35</integer>
	</array>
	<key>人马</key>
	<array>
		<integer>36</integer>
	</array>
	<key>战争之影</key>
	<array>
		<integer>36</integer>
	</array>
	<key>战争</key>
	<array>
		<integer>36</integer>
		<integer>112</integer>
		<integer>64</integer>
	</array>
	<key>德莱文</key>
	<array>
		<integer>37</integer>
	</array>
	<key>荣耀行刑官</key>
	<array>
		<integer>37</integer>
	</array>
	<key>璐璐</key>
	<array>
		<integer>38</integer>
	</array>
	<key>仙灵女巫</key>
	<array>
		<integer>38</integer>
	</array>
	<key>仙灵</key>
	<array>
		<integer>38</integer>
	</array>
	<key>露露</key>
	<array>
		<integer>38</integer>
	</array>
	<key>女巫</key>
	<array>
		<integer>38</integer>
	</array>
	<key>吉格斯</key>
	<array>
		<integer>39</integer>
	</array>
	<key>几个死</key>
	<array>
		<integer>39</integer>
	</array>
	<key>及格</key>
	<array>
		<integer>39</integer>
	</array>
	<key>炸弹人</key>
	<array>
		<integer>39</integer>
	</array>
	<key>炸弹</key>
	<array>
		<integer>39</integer>
	</array>
	<key>爆破鬼才</key>
	<array>
		<integer>39</integer>
	</array>
	<key>爆破</key>
	<array>
		<integer>39</integer>
	</array>
	<key>鬼才</key>
	<array>
		<integer>39</integer>
	</array>
	<key>无双剑姬</key>
	<array>
		<integer>40</integer>
	</array>
	<key>无双</key>
	<array>
		<integer>40</integer>
	</array>
	<key>剑姬</key>
	<array>
		<integer>40</integer>
	</array>
	<key>JJ</key>
	<array>
		<integer>40</integer>
	</array>
	<key>剑击</key>
	<array>
		<integer>40</integer>
	</array>
	<key>菲奥娜</key>
	<array>
		<integer>40</integer>
	</array>
	<key>霏欧纳</key>
	<array>
		<integer>40</integer>
	</array>
	<key>非欧娜</key>
	<array>
		<integer>40</integer>
	</array>
	<key>非奥纳</key>
	<array>
		<integer>40</integer>
	</array>
	<key>猪妹</key>
	<array>
		<integer>41</integer>
	</array>
	<key>猪</key>
	<array>
		<integer>41</integer>
	</array>
	<key>凛冬之怒</key>
	<array>
		<integer>41</integer>
	</array>
	<key>凛冬</key>
	<array>
		<integer>41</integer>
	</array>
	<key>瑟庄妮</key>
	<array>
		<integer>41</integer>
	</array>
	<key>维克托</key>
	<array>
		<integer>42</integer>
	</array>
	<key>三只手</key>
	<array>
		<integer>42</integer>
	</array>
	<key>机械先驱</key>
	<array>
		<integer>42</integer>
	</array>
	<key>机械</key>
	<array>
		<integer>42</integer>
		<integer>71</integer>
	</array>
	<key>泰坦</key>
	<array>
		<integer>43</integer>
	</array>
	<key>深海泰坦</key>
	<array>
		<integer>43</integer>
	</array>
	<key>深海</key>
	<array>
		<integer>43</integer>
	</array>
	<key>诺提勒斯</key>
	<array>
		<integer>43</integer>
	</array>
	<key>韦鲁斯</key>
	<array>
		<integer>44</integer>
	</array>
	<key>维鲁斯</key>
	<array>
		<integer>44</integer>
	</array>
	<key>惩戒</key>
	<array>
		<integer>44</integer>
	</array>
	<key>惩戒之箭</key>
	<array>
		<integer>44</integer>
	</array>
	<key>狮子</key>
	<array>
		<integer>45</integer>
	</array>
	<key>狮子狗</key>
	<array>
		<integer>45</integer>
	</array>
	<key>雷恩加尔</key>
	<array>
		<integer>45</integer>
	</array>
	<key>傲之追猎者</key>
	<array>
		<integer>45</integer>
	</array>
	<key>傲之</key>
	<array>
		<integer>45</integer>
	</array>
	<key>追猎者 </key>
	<array>
		<integer>45</integer>
	</array>
	<key>狗熊</key>
	<array>
		<integer>46</integer>
	</array>
	<key>熊</key>
	<array>
		<integer>46</integer>
	</array>
	<key>雷霆咆哮</key>
	<array>
		<integer>13</integer>
	</array>
	<key>沃利贝尔</key>
	<array>
		<integer>13</integer>
	</array>
	<key>雷霆</key>
	<array>
		<integer>13</integer>
	</array>
	<key>鱼人</key>
	<array>
		<integer>47</integer>
	</array>
	<key>鱼</key>
	<array>
		<integer>47</integer>
	</array>
	<key>凤姐</key>
	<array>
		<integer>47</integer>
	</array>
	<key>小鱼人</key>
	<array>
		<integer>47</integer>
	</array>
	<key>男枪</key>
	<array>
		<integer>48</integer>
	</array>
	<key>法外狂徒</key>
	<array>
		<integer>48</integer>
	</array>
	<key>法外</key>
	<array>
		<integer>48</integer>
	</array>
	<key>格雷福斯</key>
	<array>
		<integer>48</integer>
	</array>
	<key>狐狸</key>
	<array>
		<integer>49</integer>
	</array>
	<key>阿狸</key>
	<array>
		<integer>49</integer>
	</array>
	<key>九尾妖狐</key>
	<array>
		<integer>50</integer>
	</array>
	<key>九尾</key>
	<array>
		<integer>50</integer>
	</array>
	<key>妖狐</key>
	<array>
		<integer>50</integer>
	</array>
	<key>龙女</key>
	<array>
		<integer>50</integer>
	</array>
	<key>龙血武姬</key>
	<array>
		<integer>50</integer>
	</array>
	<key>龙血</key>
	<array>
		<integer>50</integer>
	</array>
	<key>希瓦娜</key>
	<array>
		<integer>50</integer>
	</array>
	<key>洗碗啊</key>
	<array>
		<integer>50</integer>
	</array>
	<key>泽拉斯</key>
	<array>
		<integer>51</integer>
	</array>
	<key>远古巫灵</key>
	<array>
		<integer>51</integer>
	</array>
	<key>巫灵</key>
	<array>
		<integer>51</integer>
	</array>
	<key>远古</key>
	<array>
		<integer>51</integer>
	</array>
	<key>棺材板</key>
	<array>
		<integer>51</integer>
	</array>
	<key>棺材</key>
	<array>
		<integer>51</integer>
	</array>
	<key>光辉</key>
	<array>
		<integer>52</integer>
	</array>
	<key>光辉女郎</key>
	<array>
		<integer>52</integer>
	</array>
	<key>拉克丝</key>
	<array>
		<integer>52</integer>
	</array>
	<key>慎</key>
	<array>
		<integer>53</integer>
	</array>
	<key>暮光</key>
	<array>
		<integer>53</integer>
	</array>
	<key>暮光之眼</key>
	<array>
		<integer>53</integer>
	</array>
	<key>肾</key>
	<array>
		<integer>53</integer>
	</array>
	<key>腰子</key>
	<array>
		<integer>53</integer>
	</array>
	<key>大嘴</key>
	<array>
		<integer>54</integer>
	</array>
	<key>深渊巨口</key>
	<array>
		<integer>54</integer>
	</array>
	<key>深渊</key>
	<array>
		<integer>54</integer>
	</array>
	<key>克格莫</key>
	<array>
		<integer>54</integer>
	</array>
	<key>锐雯</key>
	<array>
		<integer>55</integer>
	</array>
	<key>放逐</key>
	<array>
		<integer>55</integer>
	</array>
	<key>放逐之刃</key>
	<array>
		<integer>55</integer>
	</array>
	<key>兔女郎</key>
	<array>
		<integer>55</integer>
	</array>
	<key>泰隆</key>
	<array>
		<integer>56</integer>
	</array>
	<key>刀锋</key>
	<array>
		<integer>56</integer>
		<integer>93</integer>
	</array>
	<key>男刀</key>
	<array>
		<integer>56</integer>
	</array>
	<key>男刀锋</key>
	<array>
		<integer>56</integer>
	</array>
	<key>蚂蚱</key>
	<array>
		<integer>57</integer>
	</array>
	<key>虚空先知</key>
	<array>
		<integer>57</integer>
	</array>
	<key>先知</key>
	<array>
		<integer>57</integer>
	</array>
	<key>玛尔扎哈</key>
	<array>
		<integer>57</integer>
	</array>
	<key>玛尔</key>
	<array>
		<integer>57</integer>
	</array>
	<key>曙光</key>
	<array>
		<integer>58</integer>
	</array>
	<key>日女</key>
	<array>
		<integer>58</integer>
	</array>
	<key>盖伦</key>
	<array>
		<integer>59</integer>
	</array>
	<key>大宝剑</key>
	<array>
		<integer>59</integer>
	</array>
	<key>凯南</key>
	<array>
		<integer>60</integer>
	</array>
	<key>狂暴</key>
	<array>
		<integer>60</integer>
	</array>
	<key>电老鼠</key>
	<array>
		<integer>60</integer>
	</array>
	<key>狂暴之心</key>
	<array>
		<integer>60</integer>
	</array>
	<key>阿卡丽</key>
	<array>
		<integer>61</integer>
	</array>
	<key>暗影之拳</key>
	<array>
		<integer>61</integer>
	</array>
	<key>暗影</key>
	<array>
		<integer>61</integer>
	</array>
	<key>掘墓</key>
	<array>
		<integer>62</integer>
	</array>
	<key>掘墓人</key>
	<array>
		<integer>62</integer>
	</array>
	<key>约里克</key>
	<array>
		<integer>62</integer>
	</array>
	<key>探险家</key>
	<array>
		<integer>63</integer>
	</array>
	<key>探险</key>
	<array>
		<integer>63</integer>
	</array>
	<key>未来战士</key>
	<array>
		<integer>63</integer>
	</array>
	<key>ez</key>
	<array>
		<integer>63</integer>
	</array>
	<key>EZ</key>
	<array>
		<integer>63</integer>
	</array>
	<key>小黄毛</key>
	<array>
		<integer>63</integer>
	</array>
	<key>伊泽瑞尔</key>
	<array>
		<integer>63</integer>
	</array>
	<key>亲儿子</key>
	<array>
		<integer>63</integer>
	</array>
	<key>潘森</key>
	<array>
		<integer>64</integer>
	</array>
	<key>战争之王</key>
	<array>
		<integer>64</integer>
	</array>
	<key>柚子</key>
	<array>
		<integer>64</integer>
	</array>
	<key>背锅侠</key>
	<array>
		<integer>64</integer>
	</array>
	<key>黑锅</key>
	<array>
		<integer>64</integer>
	</array>
	<key>酒桶</key>
	<array>
		<integer>65</integer>
	</array>
	<key>波比</key>
	<array>
		<integer>66</integer>
	</array>
	<key>钢铁大使</key>
	<array>
		<integer>66</integer>
	</array>
	<key>钢铁</key>
	<array>
		<integer>66</integer>
	</array>
	<key>异装癖</key>
	<array>
		<integer>67</integer>
	</array>
	<key>变态</key>
	<array>
		<integer>67</integer>
	</array>
	<key>乌迪尔</key>
	<array>
		<integer>67</integer>
	</array>
	<key>乌迪</key>
	<array>
		<integer>67</integer>
	</array>
	<key>兽灵行者</key>
	<array>
		<integer>67</integer>
	</array>
	<key>百兽</key>
	<array>
		<integer>67</integer>
	</array>
	<key>内瑟斯</key>
	<array>
		<integer>68</integer>
	</array>
	<key>狗头</key>
	<array>
		<integer>68</integer>
	</array>
	<key>沙漠死神</key>
	<array>
		<integer>68</integer>
	</array>
	<key>沙漠</key>
	<array>
		<integer>68</integer>
		<integer>18</integer>
	</array>
	<key>蝎子</key>
	<array>
		<integer>69</integer>
	</array>
	<key>水晶先锋</key>
	<array>
		<integer>69</integer>
	</array>
	<key>先锋</key>
	<array>
		<integer>69</integer>
	</array>
	<key>水晶</key>
	<array>
		<integer>69</integer>
	</array>
	<key>斯卡纳</key>
	<array>
		<integer>69</integer>
	</array>
	<key>魔蛇之拥</key>
	<array>
		<integer>70</integer>
	</array>
	<key>魔蛇</key>
	<array>
		<integer>70</integer>
	</array>
	<key>蛇</key>
	<array>
		<integer>70</integer>
	</array>
	<key>蛇女</key>
	<array>
		<integer>70</integer>
	</array>
	<key>兰博</key>
	<array>
		<integer>71</integer>
	</array>
	<key>蓝波</key>
	<array>
		<integer>71</integer>
	</array>
	<key>机械公敌</key>
	<array>
		<integer>71</integer>
	</array>
	<key>公敌</key>
	<array>
		<integer>71</integer>
	</array>
	<key>VN</key>
	<array>
		<integer>72</integer>
	</array>
	<key>vn</key>
	<array>
		<integer>72</integer>
	</array>
	<key>薇恩</key>
	<array>
		<integer>72</integer>
	</array>
	<key>暗夜猎手</key>
	<array>
		<integer>72</integer>
	</array>
	<key>暗夜</key>
	<array>
		<integer>72</integer>
	</array>
	<key>小狗</key>
	<array>
		<integer>72</integer>
	</array>
	<key>狂小狗</key>
	<array>
		<integer>72</integer>
	</array>
	<key>瞎子</key>
	<array>
		<integer>73</integer>
	</array>
	<key>盲僧</key>
	<array>
		<integer>73</integer>
	</array>
	<key>盲生</key>
	<array>
		<integer>73</integer>
	</array>
	<key>忙僧</key>
	<array>
		<integer>73</integer>
	</array>
	<key>李青</key>
	<array>
		<integer>73</integer>
	</array>
	<key>火男</key>
	<array>
		<integer>74</integer>
	</array>
	<key>火人</key>
	<array>
		<integer>74</integer>
	</array>
	<key>布兰德</key>
	<array>
		<integer>74</integer>
	</array>
	<key>复仇焰魂</key>
	<array>
		<integer>74</integer>
	</array>
	<key>猴子</key>
	<array>
		<integer>75</integer>
	</array>
	<key>齐天大圣</key>
	<array>
		<integer>75</integer>
	</array>
	<key>悟空</key>
	<array>
		<integer>75</integer>
	</array>
	<key>孙悟空</key>
	<array>
		<integer>75</integer>
	</array>
	<key>发条</key>
	<array>
		<integer>76</integer>
	</array>
	<key>发条魔灵</key>
	<array>
		<integer>76</integer>
	</array>
	<key>魔灵</key>
	<array>
		<integer>76</integer>
	</array>
	<key>奥利安娜</key>
	<array>
		<integer>76</integer>
	</array>
	<key>蜘蛛</key>
	<array>
		<integer>77</integer>
	</array>
	<key>蜘蛛女皇</key>
	<array>
		<integer>77</integer>
	</array>
	<key>女皇</key>
	<array>
		<integer>77</integer>
	</array>
	<key>伊利斯</key>
	<array>
		<integer>77</integer>
	</array>
	<key>皇子</key>
	<array>
		<integer>78</integer>
	</array>
	<key>周杰伦</key>
	<array>
		<integer>78</integer>
	</array>
	<key>德玛西亚皇子</key>
	<array>
		<integer>78</integer>
	</array>
	<key>嘉文四世</key>
	<array>
		<integer>78</integer>
	</array>
	<key>嘉文</key>
	<array>
		<integer>78</integer>
	</array>
	<key>鳄鱼</key>
	<array>
		<integer>79</integer>
	</array>
	<key>雷克顿</key>
	<array>
		<integer>79</integer>
	</array>
	<key>荒漠屠夫</key>
	<array>
		<integer>79</integer>
	</array>
	<key>荒漠</key>
	<array>
		<integer>79</integer>
	</array>
	<key>大树</key>
	<array>
		<integer>80</integer>
	</array>
	<key>茂凯</key>
	<array>
		<integer>80</integer>
	</array>
	<key>扭曲树精</key>
	<array>
		<integer>80</integer>
	</array>
	<key>扭曲</key>
	<array>
		<integer>80</integer>
	</array>
	<key>树精</key>
	<array>
		<integer>80</integer>
	</array>
	<key>NOC</key>
	<array>
		<integer>81</integer>
	</array>
	<key>noc</key>
	<array>
		<integer>81</integer>
	</array>
	<key>永恒梦魇</key>
	<array>
		<integer>81</integer>
	</array>
	<key>永恒</key>
	<array>
		<integer>81</integer>
	</array>
	<key>魔腾</key>
	<array>
		<integer>81</integer>
	</array>
	<key>不祥之刃</key>
	<array>
		<integer>82</integer>
	</array>
	<key>不详</key>
	<array>
		<integer>82</integer>
	</array>
	<key>卡特琳娜</key>
	<array>
		<integer>82</integer>
	</array>
	<key>卡特</key>
	<array>
		<integer>82</integer>
	</array>
	<key>石头</key>
	<array>
		<integer>83</integer>
	</array>
	<key>石头人</key>
	<array>
		<integer>83</integer>
	</array>
	<key>熔岩</key>
	<array>
		<integer>83</integer>
	</array>
	<key>熔岩巨兽</key>
	<array>
		<integer>83</integer>
	</array>
	<key>墨菲特</key>
	<array>
		<integer>83</integer>
	</array>
	<key>机器人</key>
	<array>
		<integer>84</integer>
	</array>
	<key>蒸汽机器人</key>
	<array>
		<integer>84</integer>
	</array>
	<key>布里茨</key>
	<array>
		<integer>83</integer>
	</array>
	<key>女警</key>
	<array>
		<integer>85</integer>
	</array>
	<key>皮城女警</key>
	<array>
		<integer>85</integer>
	</array>
	<key>皮城</key>
	<array>
		<integer>85</integer>
		<integer>20</integer>
	</array>
	<key>凯特琳</key>
	<array>
		<integer>85</integer>
	</array>
	<key>乌鸦</key>
	<array>
		<integer>86</integer>
	</array>
	<key>策士统领</key>
	<array>
		<integer>86</integer>
	</array>
	<key>统领</key>
	<array>
		<integer>86</integer>
	</array>
	<key>策士</key>
	<array>
		<integer>86</integer>
	</array>
	<key>斯维因</key>
	<array>
		<integer>86</integer>
	</array>
	<key>巨魔</key>
	<array>
		<integer>87</integer>
	</array>
	<key>巨魔之王</key>
	<array>
		<integer>87</integer>
	</array>
	<key>宝石</key>
	<array>
		<integer>88</integer>
	</array>
	<key>宝石骑士</key>
	<array>
		<integer>88</integer>
	</array>
	<key>骑士</key>
	<array>
		<integer>88</integer>
	</array>
	<key>塔里克</key>
	<array>
		<integer>88</integer>
	</array>
	<key>天启者</key>
	<array>
		<integer>89</integer>
	</array>
	<key>天启</key>
	<array>
		<integer>89</integer>
	</array>
	<key>扇子妈</key>
	<array>
		<integer>89</integer>
	</array>
	<key>卡尔玛</key>
	<array>
		<integer>89</integer>
	</array>
	<key>英勇投弹手</key>
	<array>
		<integer>90</integer>
	</array>
	<key>英勇</key>
	<array>
		<integer>90</integer>
	</array>
	<key>投弹</key>
	<array>
		<integer>90</integer>
	</array>
	<key>飞机</key>
	<array>
		<integer>90</integer>
	</array>
	<key>库奇</key>
	<array>
		<integer>90</integer>
	</array>
	<key>船长</key>
	<array>
		<integer>91</integer>
	</array>
	<key>普朗克</key>
	<array>
		<integer>91</integer>
	</array>
	<key>海洋之灾</key>
	<array>
		<integer>91</integer>
	</array>
	<key>海洋</key>
	<array>
		<integer>91</integer>
	</array>
	<key>风女</key>
	<array>
		<integer>92</integer>
	</array>
	<key>风暴之怒</key>
	<array>
		<integer>92</integer>
	</array>
	<key>风暴</key>
	<array>
		<integer>92</integer>
	</array>
	<key>迦娜</key>
	<array>
		<integer>92</integer>
	</array>
	<key>加纳</key>
	<array>
		<integer>92</integer>
	</array>
	<key>刀妹</key>
	<array>
		<integer>93</integer>
	</array>
	<key>女刀锋</key>
	<array>
		<integer>93</integer>
	</array>
	<key>女刀</key>
	<array>
		<integer>93</integer>
	</array>
	<key>刀锋意志</key>
	<array>
		<integer>93</integer>
	</array>
	<key>意志</key>
	<array>
		<integer>93</integer>
	</array>
	<key>艾瑞莉娅</key>
	<array>
		<integer>93</integer>
	</array>
	<key>卡萨丁</key>
	<array>
		<integer>94</integer>
	</array>
	<key>行者</key>
	<array>
		<integer>94</integer>
	</array>
	<key>虚空行者</key>
	<array>
		<integer>94</integer>
	</array>
	<key>琴女</key>
	<array>
		<integer>95</integer>
	</array>
	<key>琴瑟仙女</key>
	<array>
		<integer>95</integer>
	</array>
	<key>琴瑟</key>
	<array>
		<integer>95</integer>
	</array>
	<key>娑娜</key>
	<array>
		<integer>95</integer>
	</array>
	<key>笑笑空大</key>
	<array>
		<integer>95</integer>
	</array>
	<key>笑笑</key>
	<array>
		<integer>95</integer>
	</array>
	<key>孙亚龙</key>
	<array>
		<integer>95</integer>
	</array>
	<key>36D</key>
	<array>
		<integer>95</integer>
	</array>
	<key>蒙多</key>
	<array>
		<integer>96</integer>
	</array>
	<key>医生</key>
	<array>
		<integer>96</integer>
	</array>
	<key>蒙多医生</key>
	<array>
		<integer>96</integer>
	</array>
	<key>梦多</key>
	<array>
		<integer>96</integer>
	</array>
	<key>萌多</key>
	<array>
		<integer>96</integer>
	</array>
	<key>萨科</key>
	<array>
		<integer>97</integer>
	</array>
	<key>小丑</key>
	<array>
		<integer>97</integer>
	</array>
	<key>恶魔小丑</key>
	<array>
		<integer>97</integer>
	</array>
	<key>恶魔</key>
	<array>
		<integer>97</integer>
	</array>
	<key>凤凰</key>
	<array>
		<integer>98</integer>
	</array>
	<key>冰晶凤凰</key>
	<array>
		<integer>98</integer>
	</array>
	<key>冰晶</key>
	<array>
		<integer>98</integer>
	</array>
	<key>冰鸟</key>
	<array>
		<integer>98</integer>
	</array>
	<key>艾尼维亚</key>
	<array>
		<integer>98</integer>
	</array>
	<key>龙龟</key>
	<array>
		<integer>99</integer>
	</array>
	<key>皮甲龙龟</key>
	<array>
		<integer>99</integer>
	</array>
	<key>披甲龙龟</key>
	<array>
		<integer>99</integer>
	</array>
	<key>披甲</key>
	<array>
		<integer>99</integer>
	</array>
	<key>拉莫斯</key>
	<array>
		<integer>99</integer>
	</array>
	<key>阿木木</key>
	<array>
		<integer>100</integer>
	</array>
	<key>木木</key>
	<array>
		<integer>100</integer>
	</array>
	<key>木乃伊</key>
	<array>
		<integer>100</integer>
	</array>
	<key>殇之木乃伊</key>
	<array>
		<integer>100</integer>
	</array>
	<key>殇之</key>
	<array>
		<integer>100</integer>
	</array>
	<key>虫子</key>
	<array>
		<integer>101</integer>
	</array>
	<key>大虫子</key>
	<array>
		<integer>101</integer>
	</array>
	<key>虚空恐惧</key>
	<array>
		<integer>101</integer>
	</array>
	<key>科加斯</key>
	<array>
		<integer>101</integer>
	</array>
	<key>死歌</key>
	<array>
		<integer>102</integer>
	</array>
	<key>死亡</key>
	<array>
		<integer>102</integer>
	</array>
	<key>死亡歌颂</key>
	<array>
		<integer>102</integer>
	</array>
	<key>卡尔萨斯</key>
	<array>
		<integer>102</integer>
	</array>
	<key>老鼠</key>
	<array>
		<integer>103</integer>
	</array>
	<key>瘟疫之源</key>
	<array>
		<integer>103</integer>
	</array>
	<key>瘟疫</key>
	<array>
		<integer>103</integer>
	</array>
	<key>图奇</key>
	<array>
		<integer>103</integer>
	</array>
	<key>寡妇</key>
	<array>
		<integer>104</integer>
	</array>
	<key>寡妇制造者</key>
	<array>
		<integer>104</integer>
	</array>
	<key>伊芙琳</key>
	<array>
		<integer>104</integer>
	</array>
	<key>武器</key>
	<array>
		<integer>105</integer>
	</array>
	<key>武器大师</key>
	<array>
		<integer>105</integer>
	</array>
	<key>贾克斯</key>
	<array>
		<integer>105</integer>
	</array>
	<key>寒冰</key>
	<array>
		<integer>106</integer>
	</array>
	<key>爱射</key>
	<array>
		<integer>106</integer>
	</array>
	<key>寒冰射手</key>
	<array>
		<integer>106</integer>
	</array>
	<key>艾希</key>
	<array>
		<integer>106</integer>
	</array>
	<key>赏金</key>
	<array>
		<integer>107</integer>
	</array>
	<key>赏金猎人</key>
	<array>
		<integer>107</integer>
	</array>
	<key>女枪</key>
	<array>
		<integer>107</integer>
	</array>
	<key>好运</key>
	<array>
		<integer>107</integer>
	</array>
	<key>好运姐</key>
	<array>
		<integer>107</integer>
	</array>
	<key>厄运</key>
	<array>
		<integer>107</integer>
	</array>
	<key>厄运小姐</key>
	<array>
		<integer>107</integer>
	</array>
	<key>努努</key>
	<array>
		<integer>108</integer>
	</array>
	<key>雪人</key>
	<array>
		<integer>108</integer>
	</array>
	<key>嗜血猎手</key>
	<array>
		<integer>109</integer>
	</array>
	<key>嗜血</key>
	<array>
		<integer>109</integer>
	</array>
	<key>狼人</key>
	<array>
		<integer>109</integer>
	</array>
	<key>沃里克</key>
	<array>
		<integer>109</integer>
	</array>
	<key>奶妈</key>
	<array>
		<integer>111</integer>
	</array>
	<key>众星之子</key>
	<array>
		<integer>111</integer>
	</array>
	<key>众星</key>
	<array>
		<integer>111</integer>
	</array>
	<key>索拉卡</key>
	<array>
		<integer>111</integer>
	</array>
	<key>电竞毒瘤</key>
	<array>
		<integer>111</integer>
	</array>
	<key>轮子妈</key>
	<array>
		<integer>112</integer>
	</array>
	<key>轮子</key>
	<array>
		<integer>112</integer>
	</array>
	<key>战争女神</key>
	<array>
		<integer>112</integer>
	</array>
	<key>希维尔</key>
	<array>
		<integer>112</integer>
	</array>
	<key>塞恩</key>
	<array>
		<integer>113</integer>
	</array>
	<key>亡灵</key>
	<array>
		<integer>113</integer>
	</array>
	<key>亡灵勇士</key>
	<array>
		<integer>113</integer>
	</array>
	<key>光头</key>
	<array>
		<integer>114</integer>
	</array>
	<key>流浪</key>
	<array>
		<integer>114</integer>
	</array>
	<key>流浪法师</key>
	<array>
		<integer>114</integer>
	</array>
	<key>瑞兹</key>
	<array>
		<integer>114</integer>
	</array>
	<key>gogoing</key>
	<array>
		<integer>114</integer>
	</array>
	<key>牛头</key>
	<array>
		<integer>115</integer>
	</array>
	<key>牛头酋长</key>
	<array>
		<integer>115</integer>
	</array>
	<key>阿里斯塔</key>
	<array>
		<integer>115</integer>
	</array>
	<key>牛</key>
	<array>
		<integer>115</integer>
	</array>
	<key>杂技牛</key>
	<array>
		<integer>115</integer>
	</array>
	<key>剑圣</key>
	<array>
		<integer>116</integer>
	</array>
	<key>无极剑圣</key>
	<array>
		<integer>116</integer>
	</array>
	<key>易</key>
	<array>
		<integer>116</integer>
	</array>
	<key>稻草</key>
	<array>
		<integer>118</integer>
	</array>
	<key>末日使者</key>
	<array>
		<integer>118</integer>
	</array>
	<key>末日</key>
	<array>
		<integer>118</integer>
	</array>
	<key>费德提克</key>
	<array>
		<integer>118</integer>
	</array>
	<key>妖姬</key>
	<array>
		<integer>119</integer>
	</array>
	<key>诡术妖姬</key>
	<array>
		<integer>119</integer>
	</array>
	<key>诡术</key>
	<array>
		<integer>119</integer>
	</array>
	<key>归属</key>
	<array>
		<integer>119</integer>
	</array>
	<key>乐芙兰</key>
	<array>
		<integer>119</integer>
	</array>
	<key>螃蟹</key>
	<array>
		<integer>120</integer>
	</array>
	<key>首领之傲</key>
	<array>
		<integer>120</integer>
	</array>
	<key>首领</key>
	<array>
		<integer>120</integer>
	</array>
	<key>厄加特</key>
	<array>
		<integer>120</integer>
	</array>
	<key>赵信</key>
	<array>
		<integer>121</integer>
	</array>
	<key>菊花</key>
	<array>
		<integer>121</integer>
	</array>
	<key>菊花信</key>
	<array>
		<integer>121</integer>
	</array>
	<key>赵云</key>
	<array>
		<integer>121</integer>
	</array>
	<key>德邦总管</key>
	<array>
		<integer>121</integer>
	</array>
	<key>德邦</key>
	<array>
		<integer>121</integer>
	</array>
	<key>卡牌</key>
	<array>
		<integer>122</integer>
	</array>
	<key>卡牌大师</key>
	<array>
		<integer>122</integer>
	</array>
	<key>崔斯特</key>
	<array>
		<integer>122</integer>
	</array>
	<key>加里奥</key>
	<array>
		<integer>123</integer>
	</array>
	<key>雕像</key>
	<array>
		<integer>123</integer>
	</array>
	<key>石雕</key>
	<array>
		<integer>123</integer>
	</array>
	<key>哨兵之殇</key>
	<array>
		<integer>123</integer>
	</array>
	<key>哨兵</key>
	<array>
		<integer>123</integer>
	</array>
	<key>奥拉夫</key>
	<array>
		<integer>124</integer>
	</array>
	<key>斧头</key>
	<array>
		<integer>124</integer>
	</array>
	<key>斧头男</key>
	<array>
		<integer>124</integer>
	</array>
	<key>狂战士</key>
	<array>
		<integer>124</integer>
	</array>
	<key>狂战</key>
	<array>
		<integer>124</integer>
	</array>
	<key>安妮</key>
	<array>
		<integer>125</integer>
	</array>
	<key>黑暗之女</key>
	<array>
		<integer>113</integer>
	</array>
	<key>黑暗</key>
	<array>
		<integer>113</integer>
	</array>
	<key>tabe</key>
	<array>
		<integer>113</integer>
	</array>
	<key>搅屎棍</key>
	<array>
		<integer>9</integer>
	</array>
	<key>提款机</key>
	<array>
		<integer>110</integer>
	</array>
	<key>提百万</key>
	<array>
		<integer>110</integer>
	</array>
	<key>提莫</key>
	<array>
		<integer>110</integer>
	</array>
	<key>迅捷</key>
	<array>
		<integer>110</integer>
	</array>
	<key>蘑菇</key>
	<array>
		<integer>110</integer>
	</array>
</dict>
</plist>
