<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>heroTag</key>
		<integer>1</integer>
		<key>heroProp</key>
		<dict>
			<key>damage</key>
			<integer>515</integer>
			<key>control</key>
			<integer>0</integer>
			<key>AOE</key>
			<integer>0</integer>
			<key>movement</key>
			<true/>
			<key>makemoved</key>
			<integer>0</integer>
			<key>closeFighter</key>
			<true/>
			<key>reLife</key>
			<false/>
			<key>makeRelife</key>
			<false/>
			<key>shield</key>
			<integer>510</integer>
			<key>makeShielded</key>
			<integer>0</integer>
			<key>makeFly</key>
			<true/>
			<key>global</key>
			<false/>
			<key>resistance</key>
			<integer>0</integer>
			<key>teamResistance</key>
			<integer>0</integer>
			<key>hitPick</key>
			<integer>0</integer>
			<key>TeamAccelerate</key>
			<false/>
			<key>dodge</key>
			<true/>
			<key>makeDodge</key>
			<true/>
			<key>invisible</key>
			<false/>
			<key>interrupt</key>
			<true/>
			<key>rates</key>
			<array>
				<real>53.22</real>
				<real>51.11</real>
				<real>52.45</real>
				<real>50.11</real>
				<real>55.12</real>
				<real>53.12</real>
				<real>55.12</real>
			</array>
		</dict>
		<key>icon</key>
		<string>1385536285032.png</string>
		<key>name</key>
		<string>疾风剑豪·亚索</string>
		<key>topIndex</key>
		<integer>8</integer>
		<key>jungleIndex</key>
		<integer>7</integer>
		<key>midIndex</key>
		<integer>9</integer>
		<key>adIndex</key>
		<integer>0</integer>
		<key>supIndex</key>
		<integer>6</integer>
		<key>countedBy</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
		<key>partner</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
	</dict>
	<dict>
		<key>heroTag</key>
		<integer>2</integer>
		<key>heroProp</key>
		<dict>
			<key>damage</key>
			<integer>537</integer>
			<key>control</key>
			<integer>0</integer>
			<key>AOE</key>
			<integer>0</integer>
			<key>movement</key>
			<true/>
			<key>makemoved</key>
			<integer>0</integer>
			<key>closeFighter</key>
			<true/>
			<key>reLife</key>
			<false/>
			<key>makeRelife</key>
			<false/>
			<key>shield</key>
			<integer>0</integer>
			<key>makeShielded</key>
			<integer>0</integer>
			<key>makeFly</key>
			<true/>
			<key>global</key>
			<false/>
			<key>resistance</key>
			<integer>0</integer>
			<key>teamResistance</key>
			<integer>0</integer>
			<key>hitPick</key>
			<integer>0</integer>
			<key>TeamAccelerate</key>
			<integer>0</integer>
			<key>dodge</key>
			<true/>
			<key>makeDodge</key>
			<false/>
			<key>invisible</key>
			<false/>
			<key>interrupt</key>
			<true/>
			<key>rates</key>
			<array>
				<real>52.11</real>
				<real>52.45</real>
				<real>51.11</real>
				<real>50.11</real>
				<real>55.12</real>
				<real>55.12</real>
				<real>53.12</real>
			</array>
		</dict>
		<key>icon</key>
		<string>1381398467886.png</string>
		<key>name</key>
		<string>暴走萝莉·金克丝</string>
		<key>topIndex</key>
		<integer>2</integer>
		<key>jungleIndex</key>
		<integer>2</integer>
		<key>midIndex</key>
		<integer>4</integer>
		<key>adIndex</key>
		<integer>8</integer>
		<key>supIndex</key>
		<integer>2</integer>
		<key>countedBy</key>
		<array>
			<integer>4</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
		<key>partner</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
	</dict>
	<dict>
		<key>heroTag</key>
		<integer>3</integer>
		<key>heroProp</key>
		<dict>
			<key>damage</key>
			<integer>475</integer>
			<key>control</key>
			<integer>0</integer>
			<key>AOE</key>
			<integer>0</integer>
			<key>movement</key>
			<true/>
			<key>makemoved</key>
			<integer>0</integer>
			<key>closeFighter</key>
			<true/>
			<key>reLife</key>
			<false/>
			<key>makeRelife</key>
			<false/>
			<key>shield</key>
			<integer>0</integer>
			<key>makeShielded</key>
			<integer>0</integer>
			<key>makeFly</key>
			<true/>
			<key>global</key>
			<false/>
			<key>resistance</key>
			<integer>0</integer>
			<key>teamResistance</key>
			<integer>0</integer>
			<key>hitPick</key>
			<integer>0</integer>
			<key>TeamAccelerate</key>
			<integer>0</integer>
			<key>dodge</key>
			<true/>
			<key>makeDodge</key>
			<false/>
			<key>invisible</key>
			<false/>
			<key>interrupt</key>
			<true/>
			<key>rates</key>
			<array>
				<real>53.12</real>
				<real>55.12</real>
				<real>51.11</real>
				<real>50.11</real>
				<real>52.11</real>
				<real>55.12</real>
				<real>52.45</real>
			</array>
		</dict>
		<key>icon</key>
		<string>1376619482925.png</string>
		<key>name</key>
		<string>圣枪游侠·卢锡安</string>
		<key>topIndex</key>
		<integer>6</integer>
		<key>jungleIndex</key>
		<integer>4</integer>
		<key>midIndex</key>
		<integer>8</integer>
		<key>adIndex</key>
		<integer>7</integer>
		<key>supIndex</key>
		<integer>5</integer>
		<key>countedBy</key>
		<array>
			<integer>4</integer>
			<integer>3</integer>
		</array>
		<key>partner</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
	</dict>
	<dict>
		<key>heroTag</key>
		<integer>4</integer>
		<key>heroProp</key>
		<dict>
			<key>damage</key>
			<integer>394</integer>
			<key>control</key>
			<integer>0</integer>
			<key>AOE</key>
			<integer>0</integer>
			<key>movement</key>
			<true/>
			<key>makemoved</key>
			<integer>0</integer>
			<key>closeFighter</key>
			<true/>
			<key>reLife</key>
			<false/>
			<key>makeRelife</key>
			<false/>
			<key>shield</key>
			<integer>0</integer>
			<key>makeShielded</key>
			<integer>0</integer>
			<key>makeFly</key>
			<true/>
			<key>global</key>
			<false/>
			<key>resistance</key>
			<integer>0</integer>
			<key>teamResistance</key>
			<integer>0</integer>
			<key>hitPick</key>
			<integer>0</integer>
			<key>TeamAccelerate</key>
			<integer>0</integer>
			<key>dodge</key>
			<true/>
			<key>makeDodge</key>
			<false/>
			<key>invisible</key>
			<false/>
			<key>interrupt</key>
			<true/>
			<key>rates</key>
			<array>
				<real>53.12</real>
				<real>55.12</real>
				<real>52.45</real>
				<real>52.11</real>
				<real>55.12</real>
				<real>50.11</real>
				<real>51.11</real>
			</array>
		</dict>
		<key>icon</key>
		<string>1371093644361.png</string>
		<key>name</key>
		<string>暗裔剑魔·亚托克斯</string>
		<key>topIndex</key>
		<integer>9</integer>
		<key>jungleIndex</key>
		<integer>9</integer>
		<key>midIndex</key>
		<integer>5</integer>
		<key>adIndex</key>
		<integer>0</integer>
		<key>supIndex</key>
		<integer>3</integer>
		<key>countedBy</key>
		<array>
			<integer>6</integer>
			<integer>5</integer>
		</array>
		<key>partner</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
	</dict>
	<dict>
		<key>heroTag</key>
		<integer>5</integer>
		<key>heroProp</key>
		<dict>
			<key>damage</key>
			<integer>167</integer>
			<key>control</key>
			<integer>0</integer>
			<key>AOE</key>
			<integer>0</integer>
			<key>movement</key>
			<true/>
			<key>makemoved</key>
			<integer>0</integer>
			<key>closeFighter</key>
			<true/>
			<key>reLife</key>
			<false/>
			<key>makeRelife</key>
			<false/>
			<key>shield</key>
			<integer>0</integer>
			<key>makeShielded</key>
			<integer>0</integer>
			<key>makeFly</key>
			<true/>
			<key>global</key>
			<false/>
			<key>resistance</key>
			<integer>0</integer>
			<key>teamResistance</key>
			<integer>0</integer>
			<key>hitPick</key>
			<integer>0</integer>
			<key>TeamAccelerate</key>
			<integer>0</integer>
			<key>dodge</key>
			<true/>
			<key>makeDodge</key>
			<false/>
			<key>invisible</key>
			<false/>
			<key>interrupt</key>
			<true/>
			<key>rates</key>
			<array>
				<real>53.12</real>
				<real>55.12</real>
				<real>52.45</real>
				<real>52.11</real>
				<real>55.12</real>
				<real>50.11</real>
				<real>51.11</real>
			</array>
		</dict>
		<key>icon</key>
		<string>231871561051.png</string>
		<key>name</key>
		<string>冰霜女巫·丽桑卓</string>
		<key>topIndex</key>
		<integer>7</integer>
		<key>jungleIndex</key>
		<integer>0</integer>
		<key>midIndex</key>
		<integer>10</integer>
		<key>adIndex</key>
		<integer>1</integer>
		<key>supIndex</key>
		<integer>6</integer>
		<key>countedBy</key>
		<array>
			<integer>2</integer>
			<integer>3</integer>
		</array>
		<key>partner</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
	</dict>
	<dict>
		<key>heroTag</key>
		<integer>6</integer>
		<key>heroProp</key>
		<dict>
			<key>damage</key>
			<integer>44</integer>
			<key>control</key>
			<integer>0</integer>
			<key>AOE</key>
			<integer>0</integer>
			<key>movement</key>
			<true/>
			<key>makemoved</key>
			<integer>0</integer>
			<key>closeFighter</key>
			<true/>
			<key>reLife</key>
			<false/>
			<key>makeRelife</key>
			<false/>
			<key>shield</key>
			<integer>0</integer>
			<key>makeShielded</key>
			<integer>0</integer>
			<key>makeFly</key>
			<true/>
			<key>global</key>
			<false/>
			<key>resistance</key>
			<integer>0</integer>
			<key>teamResistance</key>
			<integer>0</integer>
			<key>hitPick</key>
			<integer>0</integer>
			<key>TeamAccelerate</key>
			<integer>0</integer>
			<key>dodge</key>
			<true/>
			<key>makeDodge</key>
			<false/>
			<key>invisible</key>
			<false/>
			<key>interrupt</key>
			<true/>
			<key>rates</key>
			<array>
				<real>48.33</real>
				<real>45.11</real>
				<real>46.12</real>
				<real>47.11</real>
				<real>46.12</real>
				<real>51.11</real>
				<real>52.12</real>
			</array>
		</dict>
		<key>icon</key>
		<string>228242993255.png</string>
		<key>name</key>
		<string>生化魔人·扎克</string>
		<key>topIndex</key>
		<integer>5</integer>
		<key>jungleIndex</key>
		<integer>7</integer>
		<key>midIndex</key>
		<integer>3</integer>
		<key>adIndex</key>
		<integer>0</integer>
		<key>supIndex</key>
		<integer>7</integer>
		<key>countedBy</key>
		<array>
			<integer>9</integer>
			<integer>8</integer>
			<integer>7</integer>
		</array>
		<key>partner</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
	</dict>
	<dict>
		<key>heroTag</key>
		<integer>7</integer>
		<key>heroProp</key>
		<dict>
			<key>damage</key>
			<integer>33</integer>
			<key>control</key>
			<integer>0</integer>
			<key>AOE</key>
			<integer>0</integer>
			<key>movement</key>
			<true/>
			<key>makemoved</key>
			<integer>0</integer>
			<key>closeFighter</key>
			<true/>
			<key>reLife</key>
			<false/>
			<key>makeRelife</key>
			<false/>
			<key>shield</key>
			<integer>0</integer>
			<key>makeShielded</key>
			<integer>0</integer>
			<key>makeFly</key>
			<true/>
			<key>global</key>
			<false/>
			<key>resistance</key>
			<integer>0</integer>
			<key>teamResistance</key>
			<integer>0</integer>
			<key>hitPick</key>
			<integer>0</integer>
			<key>TeamAccelerate</key>
			<integer>0</integer>
			<key>dodge</key>
			<true/>
			<key>makeDodge</key>
			<false/>
			<key>invisible</key>
			<false/>
			<key>interrupt</key>
			<true/>
			<key>rates</key>
			<array>
				<real>48.33</real>
				<real>47.11</real>
				<real>51.11</real>
				<real>46.12</real>
				<real>45.11</real>
				<real>52.12</real>
				<real>46.12</real>
			</array>
		</dict>
		<key>icon</key>
		<string>225382419902.png</string>
		<key>name</key>
		<string>德玛西亚之翼·奎因</string>
		<key>topIndex</key>
		<integer>4</integer>
		<key>jungleIndex</key>
		<integer>3</integer>
		<key>midIndex</key>
		<integer>6</integer>
		<key>adIndex</key>
		<integer>9</integer>
		<key>supIndex</key>
		<integer>4</integer>
		<key>countedBy</key>
		<array>
			<integer>4</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
		<key>partner</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
	</dict>
	<dict>
		<key>heroTag</key>
		<integer>8</integer>
		<key>heroProp</key>
		<dict>
			<key>damage</key>
			<integer>22</integer>
			<key>control</key>
			<integer>0</integer>
			<key>AOE</key>
			<integer>0</integer>
			<key>movement</key>
			<true/>
			<key>makemoved</key>
			<integer>0</integer>
			<key>closeFighter</key>
			<true/>
			<key>reLife</key>
			<false/>
			<key>makeRelife</key>
			<false/>
			<key>shield</key>
			<integer>0</integer>
			<key>makeShielded</key>
			<integer>0</integer>
			<key>makeFly</key>
			<true/>
			<key>global</key>
			<false/>
			<key>resistance</key>
			<integer>0</integer>
			<key>teamResistance</key>
			<integer>0</integer>
			<key>hitPick</key>
			<integer>0</integer>
			<key>TeamAccelerate</key>
			<integer>0</integer>
			<key>dodge</key>
			<true/>
			<key>makeDodge</key>
			<false/>
			<key>invisible</key>
			<false/>
			<key>interrupt</key>
			<true/>
			<key>rates</key>
			<array>
				<real>51.11</real>
				<real>48.33</real>
				<real>51.11</real>
				<real>46.12</real>
				<real>45.12</real>
				<real>52.12</real>
				<real>46.12</real>
			</array>
		</dict>
		<key>icon</key>
		<string>222714396868.png</string>
		<key>name</key>
		<string>魂锁典狱长·锤石</string>
		<key>topIndex</key>
		<integer>1</integer>
		<key>jungleIndex</key>
		<integer>0</integer>
		<key>midIndex</key>
		<integer>2</integer>
		<key>adIndex</key>
		<integer>5</integer>
		<key>supIndex</key>
		<integer>10</integer>
		<key>countedBy</key>
		<array>
			<integer>4</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
		<key>partner</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
	</dict>
	<dict>
		<key>heroTag</key>
		<integer>9</integer>
		<key>heroProp</key>
		<dict>
			<key>damage</key>
			<integer>11</integer>
			<key>control</key>
			<integer>0</integer>
			<key>AOE</key>
			<integer>0</integer>
			<key>movement</key>
			<true/>
			<key>makemoved</key>
			<integer>0</integer>
			<key>closeFighter</key>
			<true/>
			<key>reLife</key>
			<false/>
			<key>makeRelife</key>
			<false/>
			<key>shield</key>
			<integer>0</integer>
			<key>makeShielded</key>
			<integer>0</integer>
			<key>makeFly</key>
			<true/>
			<key>global</key>
			<false/>
			<key>resistance</key>
			<integer>0</integer>
			<key>teamResistance</key>
			<integer>0</integer>
			<key>hitPick</key>
			<integer>0</integer>
			<key>TeamAccelerate</key>
			<integer>0</integer>
			<key>dodge</key>
			<true/>
			<key>makeDodge</key>
			<false/>
			<key>invisible</key>
			<false/>
			<key>interrupt</key>
			<true/>
			<key>rates</key>
			<array>
				<real>51.11</real>
				<real>52.12</real>
				<real>48.33</real>
				<real>45.12</real>
				<real>46.12</real>
				<real>46.12</real>
				<real>51.11</real>
			</array>
		</dict>
		<key>icon</key>
		<string>219251317038.png</string>
		<key>name</key>
		<string>皮城执法官·蔚</string>
		<key>topIndex</key>
		<integer>3</integer>
		<key>jungleIndex</key>
		<integer>8</integer>
		<key>midIndex</key>
		<integer>7</integer>
		<key>adIndex</key>
		<integer>0</integer>
		<key>supIndex</key>
		<integer>4</integer>
		<key>countedBy</key>
		<array>
			<integer>4</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
		<key>partner</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
	</dict>
	<dict>
		<key>heroTag</key>
		<integer>10</integer>
		<key>heroProp</key>
		<dict>
			<key>damage</key>
			<integer>12</integer>
			<key>control</key>
			<integer>0</integer>
			<key>AOE</key>
			<integer>0</integer>
			<key>movement</key>
			<true/>
			<key>makemoved</key>
			<integer>0</integer>
			<key>closeFighter</key>
			<true/>
			<key>reLife</key>
			<false/>
			<key>makeRelife</key>
			<false/>
			<key>shield</key>
			<integer>0</integer>
			<key>makeShielded</key>
			<integer>0</integer>
			<key>makeFly</key>
			<true/>
			<key>global</key>
			<false/>
			<key>resistance</key>
			<integer>0</integer>
			<key>teamResistance</key>
			<integer>0</integer>
			<key>hitPick</key>
			<integer>0</integer>
			<key>TeamAccelerate</key>
			<integer>0</integer>
			<key>dodge</key>
			<true/>
			<key>makeDodge</key>
			<false/>
			<key>invisible</key>
			<false/>
			<key>interrupt</key>
			<true/>
			<key>rates</key>
			<array>
				<real>54.12</real>
				<real>52.12</real>
				<real>48.33</real>
				<real>50</real>
				<real>41.12</real>
				<real>45.99</real>
				<real>51.11</real>
			</array>
		</dict>
		<key>icon</key>
		<string>218041566099.png</string>
		<key>name</key>
		<string>唤潮鲛姬·娜美</string>
		<key>topIndex</key>
		<integer>0</integer>
		<key>jungleIndex</key>
		<integer>0</integer>
		<key>midIndex</key>
		<integer>1</integer>
		<key>adIndex</key>
		<integer>2</integer>
		<key>supIndex</key>
		<integer>9</integer>
		<key>countedBy</key>
		<array>
			<integer>4</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
		<key>partner</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
	</dict>
	<dict>
		<key>heroTag</key>
		<integer>11</integer>
		<key>heroProp</key>
		<dict>
			<key>damage</key>
			<integer>12</integer>
			<key>control</key>
			<integer>0</integer>
			<key>AOE</key>
			<integer>0</integer>
			<key>movement</key>
			<true/>
			<key>makemoved</key>
			<integer>0</integer>
			<key>closeFighter</key>
			<true/>
			<key>reLife</key>
			<false/>
			<key>makeRelife</key>
			<false/>
			<key>shield</key>
			<integer>0</integer>
			<key>makeShielded</key>
			<integer>0</integer>
			<key>makeFly</key>
			<true/>
			<key>global</key>
			<false/>
			<key>resistance</key>
			<integer>0</integer>
			<key>teamResistance</key>
			<integer>0</integer>
			<key>hitPick</key>
			<integer>0</integer>
			<key>TeamAccelerate</key>
			<integer>0</integer>
			<key>dodge</key>
			<true/>
			<key>makeDodge</key>
			<false/>
			<key>invisible</key>
			<false/>
			<key>interrupt</key>
			<true/>
			<key>rates</key>
			<array>
				<real>54.12</real>
				<real>52.12</real>
				<real>48.33</real>
				<real>50</real>
				<real>41.12</real>
				<real>45.99</real>
				<real>51.11</real>
			</array>
		</dict>
		<key>icon</key>
		<string>Bard.png</string>
		<key>name</key>
		<string>巴德</string>
		<key>topIndex</key>
		<integer>0</integer>
		<key>jungleIndex</key>
		<integer>0</integer>
		<key>midIndex</key>
		<integer>1</integer>
		<key>adIndex</key>
		<integer>2</integer>
		<key>supIndex</key>
		<integer>9</integer>
		<key>countedBy</key>
		<array>
			<integer>4</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
		<key>partner</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
	</dict>
</array>
</plist>
