<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>Aatrox</string>
		<key>name</key>
		<string>暗裔剑魔·亚托克斯</string>
		<key>topIndex</key>
		<integer>85</integer>
		<key>jungleIndex</key>
		<integer>125</integer>
		<key>midIndex</key>
		<integer>58</integer>
		<key>adIndex</key>
		<integer>69</integer>
		<key>supIndex</key>
		<integer>77</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>Ahri</string>
		<key>name</key>
		<string>九尾妖狐·阿狸</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Akali</string>
		<key>name</key>
		<string>暗影之拳·阿卡丽</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Alistar</string>
		<key>name</key>
		<string>牛头酋长·阿利斯塔</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Amumu</string>
		<key>name</key>
		<string>殇之木乃伊·阿木木</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Anivia</string>
		<key>name</key>
		<string>冰晶凤凰·艾尼维亚</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Annie</string>
		<key>name</key>
		<string>黑暗之女·安妮</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Ashe</string>
		<key>name</key>
		<string>寒冰射手·艾希</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Azir</string>
		<key>name</key>
		<string>沙漠皇帝·阿兹尔</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Bard</string>
		<key>name</key>
		<string>星界游神·巴德</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Blitzcrank</string>
		<key>name</key>
		<string>蒸汽机器人·布里茨</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Brand</string>
		<key>name</key>
		<string>复仇焰魂·布兰德</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Braum</string>
		<key>name</key>
		<string>弗雷尔卓德之心·布隆</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Caitlyn</string>
		<key>name</key>
		<string>皮城女警·凯特琳</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Cassiopeia</string>
		<key>name</key>
		<string>魔蛇之拥·卡西奥佩亚</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Chogath</string>
		<key>name</key>
		<string>虚空恐惧·科&apos;加斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Corki</string>
		<key>name</key>
		<string>英勇投弹手·库奇</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Darius</string>
		<key>name</key>
		<string>诺克萨斯之手·德莱厄斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Diana</string>
		<key>name</key>
		<string>皎月女神·黛安娜</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Draven</string>
		<key>name</key>
		<string>荣耀行刑官·德莱文</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>DrMundo</string>
		<key>name</key>
		<string>祖安狂人·蒙多</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Ekko</string>
		<key>name</key>
		<string>时间刺客·艾克</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Elise</string>
		<key>name</key>
		<string>蜘蛛女皇·伊莉丝</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Evelynn</string>
		<key>name</key>
		<string>寡妇制造者·伊芙琳</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Ezreal</string>
		<key>name</key>
		<string>探险家·伊泽瑞尔</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Fiddlesticks</string>
		<key>name</key>
		<string>末日使者·费德提克</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Fiora</string>
		<key>name</key>
		<string>无双剑姬·菲奥娜</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Fizz</string>
		<key>name</key>
		<string>潮汐海灵·菲兹</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Galio</string>
		<key>name</key>
		<string>哨兵之殇·加里奥</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Gangplank</string>
		<key>name</key>
		<string>海洋之灾·普朗克</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Garen</string>
		<key>name</key>
		<string>德玛西亚之力·盖伦</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Gnar</string>
		<key>name</key>
		<string>迷失之牙·纳尔</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Gragas</string>
		<key>name</key>
		<string>酒桶·古拉加斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Graves</string>
		<key>name</key>
		<string>法外狂徒·格雷福斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Hecarim</string>
		<key>name</key>
		<string>战争之影·赫卡里姆</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Heimerdinger</string>
		<key>name</key>
		<string>大发明家·黑默丁格</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Irelia</string>
		<key>name</key>
		<string>刀锋意志·艾瑞莉娅</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Janna</string>
		<key>name</key>
		<string>风暴之怒·迦娜</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>JarvanIV</string>
		<key>name</key>
		<string>德玛西亚皇子·嘉文四世</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Jax</string>
		<key>name</key>
		<string>武器大师·贾克斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Jayce</string>
		<key>name</key>
		<string>未来守护者·杰斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Jinx</string>
		<key>name</key>
		<string>暴走萝莉·金克丝</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Kalista</string>
		<key>name</key>
		<string>复仇之矛·卡莉斯塔</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Karma</string>
		<key>name</key>
		<string>天启者·卡尔玛</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Karthus</string>
		<key>name</key>
		<string>死亡颂唱者·卡尔萨斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Kassadin</string>
		<key>name</key>
		<string>虚空行者·卡萨丁</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Katarina</string>
		<key>name</key>
		<string>不祥之刃·卡特琳娜</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Kayle</string>
		<key>name</key>
		<string>审判天使·凯尔</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Kennen</string>
		<key>name</key>
		<string>狂暴之心·凯南</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Khazix</string>
		<key>name</key>
		<string>虚空掠夺者·卡&apos;兹克</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>KogMaw</string>
		<key>name</key>
		<string>深渊巨口·克格&apos;莫</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Leblanc</string>
		<key>name</key>
		<string>诡术妖姬·乐芙兰</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>LeeSin</string>
		<key>name</key>
		<string>盲僧·李青</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Leona</string>
		<key>name</key>
		<string>曙光女神·蕾欧娜</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Lissandra</string>
		<key>name</key>
		<string>冰霜女巫·丽桑卓</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Lucian</string>
		<key>name</key>
		<string>圣枪游侠·卢锡安</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Lulu</string>
		<key>name</key>
		<string>仙灵女巫·璐璐</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Lux</string>
		<key>name</key>
		<string>光辉女郎·拉克丝</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Malphite</string>
		<key>name</key>
		<string>熔岩巨兽·墨菲特</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Malzahar</string>
		<key>name</key>
		<string>虚空先知·玛尔扎哈</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>MaoKai</string>
		<key>name</key>
		<string>扭曲树精·茂凯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>MasterYi</string>
		<key>name</key>
		<string>无极剑圣·易</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>MissFortune</string>
		<key>name</key>
		<string>赏金猎人·厄运小姐</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>MonkeyKing</string>
		<key>name</key>
		<string>齐天大圣·孙悟空</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Mordekaiser</string>
		<key>name</key>
		<string>金属大师·莫德凯撒</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Morgana</string>
		<key>name</key>
		<string>堕落天使·莫甘娜</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Nami</string>
		<key>name</key>
		<string>唤潮鲛姬·娜美</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Nasus</string>
		<key>name</key>
		<string>沙漠死神·内瑟斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Nautilus</string>
		<key>name</key>
		<string>深海泰坦·诺提勒斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Nidalee</string>
		<key>name</key>
		<string>狂野女猎手·奈德丽</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Nocturne</string>
		<key>name</key>
		<string>永恒梦魇·魔腾</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Nunu</string>
		<key>name</key>
		<string>雪人骑士·努努</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Olaf</string>
		<key>name</key>
		<string>狂战士·奥拉夫</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Orianna</string>
		<key>name</key>
		<string>发条魔灵·奥莉安娜</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Pantheon</string>
		<key>name</key>
		<string>战争之王·潘森</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Poppy</string>
		<key>name</key>
		<string>钢铁大使·波比</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Quinn</string>
		<key>name</key>
		<string>德玛西亚之翼·奎因</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Rammus</string>
		<key>name</key>
		<string>披甲龙龟·拉莫斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>RekSai</string>
		<key>name</key>
		<string>虚空遁地兽·雷克赛</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Renekton</string>
		<key>name</key>
		<string>荒漠屠夫·雷克顿</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Rengar</string>
		<key>name</key>
		<string>傲之追猎者·雷恩加尔</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Riven</string>
		<key>name</key>
		<string>放逐之刃·锐雯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Rumble</string>
		<key>name</key>
		<string>机械公敌·兰博</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Ryze</string>
		<key>name</key>
		<string>流浪法师·瑞兹</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Sejuani</string>
		<key>name</key>
		<string>凛冬之怒·瑟庄妮</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Shaco</string>
		<key>name</key>
		<string>恶魔小丑·萨科</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Shen</string>
		<key>name</key>
		<string>暮光之眼·慎</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Shyvana</string>
		<key>name</key>
		<string>龙血武姬·希瓦娜</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Singed</string>
		<key>name</key>
		<string>炼金术士·辛吉德</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Sion</string>
		<key>name</key>
		<string>亡灵勇士·赛恩</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Sivir</string>
		<key>name</key>
		<string>战争女神·希维尔</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Skarner</string>
		<key>name</key>
		<string>水晶先锋·斯卡纳</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Sona</string>
		<key>name</key>
		<string>琴瑟仙女·娑娜</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Soraka</string>
		<key>name</key>
		<string>众星之子·索拉卡</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Swain</string>
		<key>name</key>
		<string>策士统领·斯维因</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Syndra</string>
		<key>name</key>
		<string>暗黑元首·辛德拉</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>TahmKench</string>
		<key>name</key>
		<string>河流之王·塔姆</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Talon</string>
		<key>name</key>
		<string>刀锋之影·泰隆</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Taric</string>
		<key>name</key>
		<string>宝石骑士·塔里克</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Teemo</string>
		<key>name</key>
		<string>迅捷斥候·提莫</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Thresh</string>
		<key>name</key>
		<string>魂锁典狱长·锤石</string>
		<key>topIndex</key>
		<integer>18</integer>
		<key>jungleIndex</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>Tryndamere</string>
		<key>name</key>
		<string>蛮族之王·泰达米尔</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>TwistedFate</string>
		<key>name</key>
		<string>卡牌大师·崔斯特</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Twitch</string>
		<key>name</key>
		<string>瘟疫之源·图奇</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Udyr</string>
		<key>name</key>
		<string>兽灵行者·乌迪尔</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Urgot</string>
		<key>name</key>
		<string>首领之傲·厄加特</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Varus</string>
		<key>name</key>
		<string>惩戒之箭·韦鲁斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Vayne</string>
		<key>name</key>
		<string>暗夜猎手·薇恩</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Veigar</string>
		<key>name</key>
		<string>邪恶小法师·维迦</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Velkoz</string>
		<key>name</key>
		<string>虚空之眼·维克兹</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Vi</string>
		<key>name</key>
		<string>皮城执法官·蔚</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Viktor</string>
		<key>name</key>
		<string>机械先驱·维克托</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Vladimir</string>
		<key>name</key>
		<string>猩红收割者·弗拉基米尔</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Volibear</string>
		<key>name</key>
		<string>雷霆咆哮·沃利贝尔</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Warwick</string>
		<key>name</key>
		<string>嗜血猎手·沃里克</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Xerath</string>
		<key>name</key>
		<string>远古巫灵·泽拉斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>XinZhao</string>
		<key>name</key>
		<string>德邦总管·赵信</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Yasuo</string>
		<key>name</key>
		<string>疾风剑豪·亚索</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Yorick</string>
		<key>name</key>
		<string>掘墓者·约里克</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Zac</string>
		<key>name</key>
		<string>生化魔人·扎克</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Zed</string>
		<key>name</key>
		<string>影流之主·劫</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Ziggs</string>
		<key>name</key>
		<string>爆破鬼才·吉格斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Zilean</string>
		<key>name</key>
		<string>时光守护者·基兰</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Zyra</string>
		<key>name</key>
		<string>荆棘之兴·婕拉</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Tristana</string>
		<key>name</key>
		<string>麦林炮手</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Trundle</string>
		<key>name</key>
		<string>巨魔之王·特朗德尔</string>
	</dict>
</array>
</plist>
